:root {
    --primary-color: #74C69D;
    --secondary-color: #FFFFFF;
    --primary-color-100: var(--primary-color);
    --secondary-color-100: var(--secondary-color);
    --primary-color-75: #74C69Dc0;
    --secondary-color-75: #FFFFFFc0;
    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 125%;
}
body {

}
.header-section {
    padding: 35px 0 38px;
    background-color: #74C69D;
    margin-bottom: 30px;
}
.header-section-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}
.sub-heading {
    font-size: 1.25rem;
    line-height: 125%;
}
.nav-container {
    width: 390px;
}
.nav-container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-container a {
    color: inherit;
    text-decoration: none;
}
.logo {
    font-size: 40px;
}
.logo-container {
display: flex;
}