:root {
    --primary-color: #74C69D;
    --secondary-color: #FFFFFF;
    --primary-color-100: var(--primary-color);
    --secondary-color-100: var(--secondary-color);
    --primary-color-75: #74C69Dc0;
    --secondary-color-75: #FFFFFFc0;
    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 125%;
}
body {
    margin: auto;
}
.logo {
    font-size: 40px; 
    
}
.site-content {
    width: 1180px;
    margin:auto;
}
.header-section,
.footer-section {
    padding: 35px 0 38px;
    background-color: #74C69D;
    margin-bottom: 30px;
}
.header-section-container,
.footer-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}
.sub-heading {
    font-size: 1.25rem;
    line-height: 125%;
}
.nav-container {
    width: 390px;
}
.nav-container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-container a {
    color: inherit;
    text-decoration: none;
}

.logo-container {
display: flex;
}
.content-header-section {
    display: flex;
    justify-content: center;
    margin-bottom: 82px;
}
.content-header-container {
    text-align: center;
    width: 410px;
}
.label {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--primary-color-75);
    font-weight: bold;
}
.sub-heading {
    font-size: 1.25rem;
    line-height: 125%;
    
}
h1 {
    font-family: 'Crimson Text';
    font-size: 2.5rem;
    font-weight: 700px;
    line-height: 125%;
    margin: 16px 0;
}
.social-media {
    font-size: 1.5rem;
    letter-spacing: 10px;
}

 .offer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1 fr);
    column-gap: 30px;
    font-family: 'Work Sans';
    padding-bottom: 80px;
    
    

 }
span {
    color: var(--primary-color);
    padding-right: 10px;

}
.text,
.month,
.program {
    color: #212529c0;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 10px;
}
button {
    background-color: black;
    color: white;
    width: 170px;
    height: 3rem;
    border-radius: 10px;
    letter-spacing: 3px;
    font-size: 1rem;
    margin-left: 5rem;
}
.price {
    font-family: 'Work Sans';
    text-align: center;
    font-weight: bold;
}
.list {
    margin-left: 40px;
    padding-bottom: 20px;
    color: rgb(90, 86, 86);
    font-weight: 20;
    padding-bottom: 10px;
}
.basic,
.plus,
.pro {
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 5px 10px 10px 5px lightgray;
    display: grid;
    padding: 10px;
    
}
