:root {
    --primary-color: #74C69D;
    --secondary-color: #FFF;
    --primary-color-100: var(--primary-color);
    --primary-color-75: #74c69dc0;
    --secondary-color-100: var(--secondary-color);
    --secondary-color-75: #FFFFFFc0;
    --dark-color: #212529;
    --dark-color-100: var(--dark-color);
    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 125%;
}

body {
    margin: 0;

}
.site-content {
   width: 1180px; 
   margin: auto;
}
h1 {
    font-family: 'Crimson Text';
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 125%;
    margin: 16px 0;
    
}
.label {
    letter-spacing: 5px;
    font-weight: bold;
    color: var(--primary-color);
    text-transform: uppercase;
    

}
.sub-heading {
    font-size: 1.25rem;
    line-height: 125%;
}
.primary-button {
    background-color: var(--secondary-color);
    color: var(--dark-color);
}

.header-section,
.footer-section {
    padding: 35px 0 38px;
    background-color: #74C69D;
    margin-bottom: 30px;
    
}
.header-section-container,
.footer-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}


.logo {
    font-size: 40px;
}
.logo-container {
    display: flex;
}
.nav-container {
    width: 390px;
}
.nav-container ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.nav-container a {
    text-decoration: none;
    color: inherit;
}
.welcome-container {
    width: 415px;
}
.welcome-container, .label {
    color: var(--secondary-color);
}
.welcome-container p {
    color: var(--secondary-color-75);
}
.content-header-section {
    display: flex;
    justify-content: center;
    margin-bottom: 82px;
}
.content-header-container {
    text-align: center;
    width: 410px;
}
.portfolio-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    justify-items: center;
}
.social-media {
    color: white;
    border: 1px solid black;
}
article img {
    width: 100%;
}

@media (max-width: 1200px){
    .site-content {
        width: 900px;
    }
}
@media (max-width: 1024px){
    .site-content {
        width: 700px;
    }
}
@media (max-width: 768px){
    .site-content {
        width: 500px;
    }
    .portfolio-section {
        grid-template-columns: 1fr;
        row-gap: 55px;
    }
    /* Switch navigation to burger menu */
    .header-section-container nav {
        display: none;
    }

    .footer-section-container {
        flex-direction: column;
        
    }
}
@media (max-width: 568px){
    .site-content {
        width: 350px;
    }
    /* Lower article container size */
    article {
        width: 335px;
    }

}




