

@import url(./site.css);

.header-section,
.footer-section {
    padding: 35px 0 38px;
    background-color: #74C69D;
    
    
}
.header-section {
    margin-bottom: 30px;
}
.header-section-content,
.footer-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}


.logo {
    font-size: 2.5rem;
    color: white;
}
.burger-menu {
    display: none;
    
}
.logo-container {
    display: flex;
    width: 187px;
    justify-content: space-between;
    align-items: center;
}
.nav-container {
    width: 390px;
}
.nav-container ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.nav-container a {
    text-decoration: none;
    color: white;
}
.welcome-section {
    padding: 40px 0 40px;
}
.welcome-container {
    width: 415px;

}
.welcome-container, .label {
    color: var(--secondary-color);
}
.welcome-container p {
    color: var(--secondary-color-75);
    margin-bottom: 25px;
}
.content-header-section {
    display: flex;
    justify-content: center;
    margin-bottom: 82px;
}
.content-header-container {
    text-align: center;
    width: 410px;
}
.portfolio-section {
    width: 100%;
    display: grid;
    grid-template-columns: 570fr 555fr;
    margin-bottom: 64px;
    gap: 55px;
}
.more-section {
    text-align: center;
    margin-bottom: 100px;
}

.social-media {
    color: white;
    border: 1px solid black;
}


@media (max-width: 1200px){
    .site-content {
        width: 900px;
    }
}
@media (max-width: 1024px){
    .site-content {
        width: 700px;
    }
}
@media (max-width: 768px){
    .site-content {
        width: 500px;
    }
    .header-section-content nav {
        display: none;
    }
    
    /* Switch navigation to burger menu */
    .header-section-container nav {
        display: none;
    }
    
    .burger-menu {
        display: inline;
    }
    .logo-container {
        width: 130px;

    }
    .logo-container svg {
        width: 45px;
        
    }
    .logo {
        font-size: 1.9rem;
        color: var(--secondary-color);
    }
    .content-header-section {
        margin-bottom: 45px;
    }
    .portfolio-section {
        grid-template-columns: 1fr;
        row-gap: 55px;
        margin-bottom: 30px;
    }
    .more-section {
        margin-bottom: 30px;
    }
    

    .footer-section-container {
        flex-direction: column;
        
    }
}
@media (max-width: 568px){
    .site-content {
        width: 320px;
    }
    /* Lower article container size */
    article {
        width: 320px;
    }
    footer .sub-heading {
        font-size: 1rem;

    }

}




